@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100&display=swap');




$background : #FFF;
$heading-h1 :#E65C43;
$heading-h3 :#666;
$links :#E65C43 ;
$font-body : 'Roboto';
$headline-color:#F25C43;
$footer_bar : #F5F6F6;
$footer : #30353D;


$sizes-media :( "959px":768px, "767px" :460px, "459px":300px);